
hr{
    margin: 0;
}
/* nav.navbar.navbar-expand-lg.bg-primary{
    height: 2rem;
} */
#navid1{
    height: 3rem;
}
.logo{
    height: 2.5rem;
    width: 2.5rem;
}

i.bi.bi-person{
    cursor: pointer;
}
#login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    /* border: 1px solid red; */
    width: 40%;
    justify-content: center;
    align-items: center;
}
